fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
langchain
langchain-core
langchain-ollama
langchain-chroma
langchain-community
langchain-text-splitters
python-dotenv
lark
python-multipart
sqlalchemy
alembic
passlib
bcrypt
python-jose[cryptography]
chromadb