fastapi
uvicorn[standard]
pydantic
pydantic-settings
langchain
langchain-core
langchain-ollama
python-dotenv
lark
python-multipart
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
chromadb